table, th, td {
  color: white;
  border: 0.3125rem solid #C7C7C5;
  border-collapse: collapse;
  border-radius: 6.25rem;
}

th, td {
  text-align: center;
  background-color: #e2fdff;
}

th:hover {
  background-color: yellow;
}

td:hover {
  background-color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: 30px auto;
}

th, tr {
  height: 3.125rem;
  width: 10.625rem;
}

th {
  background-color: #48685D;
}

td {
  background-color: #98485B;
}

.time {
  background-color: #DEA290;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  margin-left: 1.25rem;
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 1.125rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}
.contact{text-align: center;}
.butt{margin-top: 3.125rem;}
.footer{text-align: center;}
.Introduction{text-align: center;
  height: 50rem;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/72/624/1004/anime-one-piece-zoro-roronoa-wallpaper-preview.jpg);
  background-repeat: no-repeat;
    background-size:100% 100%;}
.name{margin-top: 100px;
font-family: 'Sedgwick Ave Display', cursive;
font-weight: bold;
font-size: 3.75rem;
color: red;}
.work{font-family: 'Sedgwick Ave Display', cursive;}
.tab{background-color: #C7C7C5	;}
body{background-color: #C7C7C5	;}
.link{color:#198754;
color: black;  }
.bottom{background-color: black;}
.tab{margin-bottom: 1.875rem;}
.contact{
  margin-bottom: 1.25rem;
}
.footer{color: #198754;}
.butt{margin:0.625rem 1.25rem 0.625rem 1.25rem;}
@media only screen and (min-device-width : 20rem) and (max-device-width : 37.5rem) {
.Introduction{
   margin:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  position: relative;}
  .dark-class {
    color: white;
    background-: url(https://c4.wallpaperflare.com/wallpaper/754/541/105/one-piece-monkey-d-luffy-hd-wallpaper-preview.jpg);
  }
  table{width:100%;
    height:55vh;
  font-size:0.5rem;}
  .name{font-size: 3rem;
}
}
.dark-class {
  color: white;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/754/541/105/one-piece-monkey-d-luffy-hd-wallpaper-preview.jpg);}


