table, th, td {
  color: white;
  border: 5px solid #C7C7C5;
  border-collapse: collapse;
  border-radius: 100px;
}

th, td {
  text-align: center;
  background-color: #e2fdff;
}

th:hover {
  background-color: yellow;
}

td:hover {
  background-color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin: 30px auto;
}

th, tr {
  height: 50px;
  width: 170px;
}

th {
  background-color: #48685D;
}

td {
  background-color: #98485B;
}

.time {
  background-color: #DEA290;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  margin-left: 20px;
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}
.contact{text-align: center;}
.butt{margin-top: 50px;}
.footer{text-align: center;}
.Introduction{text-align: center;
  
  background-image: url(https://c4.wallpaperflare.com/wallpaper/72/624/1004/anime-one-piece-zoro-roronoa-wallpaper-preview.jpg);
  background-repeat: no-repeat;
    background-size:100% 100%;}
.name{margin-top: 100px;
font-family: 'Sedgwick Ave Display', cursive;
font-weight: bold;
font-size: 60px;}
.work{font-family: 'Sedgwick Ave Display', cursive;}
.tab{background-color: #C7C7C5	;}
body{background-color: #C7C7C5	;}
.link{color:#198754;
color: black;  }
.bottom{background-color: black;}
.tab{margin-bottom: 30px;}
.contact{
  margin-bottom: 20px;
}
.footer{color: #198754;}
.butt{margin:10px 20px 10px 20px;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.Introduction{
   margin:0px;
  width:100vw;
  height:100vh;
  overflow:auto;
  }
  
}

